img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,40px);
    right: auto;
    width: 50px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,40px);
    left: auto;
    width: 50px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: .7rem;
    color: #fff;
    font-weight:800;
    background-color: black;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}


