@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}

a,a:hover {
  text-decoration: none;
  color: #000;
}

ul {
  margin-bottom: 0;
}
ul li {
  display: inline-block;
  list-style: none;
}
ul li a {
  font-size: .9rem;
  font-weight: 600;
}
